.logo {
height: 50px;
margin: 0 0 0 2.625em;
}

body {
margin: 0;
padding: 0;
}

/* ============================================================ */

main {
margin: 0;
padding: 0;
}

/* ============================================================ */

header {
background-color: #333333;
margin: 0;
padding: 0;
}

/* ============================================================ */

footer {
background-color: #333333;
margin: 0;
padding: 0.625em;
}

footer p {
margin: 0;
padding: 0;
color: #ffffff;
font-size: 1.0625em;
font-family: Arial;
}

/* ============================================================ */

section {
margin: 0 25%;
padding: 0;
}

section p {
margin: 0 0 0.625em 0;
padding: 0;
font-size: 1.0625em;
font-family: Arial;
}

section h1 {
margin: 0 0 0.625em 0;
padding: 0;
text-align: center;
font-size: 4.0625em;
font-family: Arial;
}

section img {
margin: 0 0 0.625em 0;
padding: 0;
border-radius: 0.625em;
width:100%;
}

/* ============================================================ */

.content {
background-color: #DBD7D2;
padding: 1.0625em;
margin: 0 0 0.625em 0;
}

.p2 {
margin: 0 0 0.625em 0;
padding: 0;
font-size: 1.0625em;
font-family: Arial;
}

.p3 {
margin: 0 0 0.625em 0;
padding: 0 0 0 0.625em;
font-size: 1.0625em;
font-family: Arial;
}

.content ul {
margin: 0;
padding: 0;
padding: 0 0 0 0.625em;
box-sizing: border-box;
}

.content ul li {
margin: 0 0 0.625em 0;
padding: 0;
list-style-type: none;
box-sizing: border-box;
}

.content a {
margin: 0;
padding: 0;
font-size: 1.0625em;
font-family: Arial;
box-sizing: border-box;
}

.list {
margin: 0;
padding: 0;
padding: 0 0 0 2.625em;
box-sizing: border-box;
}

.list li {
margin: 0 0 0.58823529em 0;
padding: 0;
font-size: 1.0625em;
font-family: Arial;
line-height: 1.5em;
box-sizing: border-box;
}

.list li::marker {
font-size: 1.0625em;
}

/* ============================================================ */

@media (max-width:767px) {
section {
margin: 0.625em;
}
}