body {
margin: 0;
padding: 0;
}

/* ============================================================ */

main {
margin: 0;
padding: 0;
}

/* ============================================================ */

header {
background-color: #333333;
margin: 0;
padding: 0.625em;
}

header p {
margin: 0;
padding: 0;
color: #ffffff;
font-size: 17px;
font-family: Arial;
}

/* ============================================================ */

footer {
background-color: #333333;
margin: 0;
padding: 0.625em;
}

footer p {
margin: 0;
padding: 0;
color: #ffffff;
font-size: 17px;
font-family: Arial;
}

/* ============================================================ */

section {
margin: 0 25%;
padding: 0;
}

section p {
margin: 0 0 0.625em 0;
font-size: 17px;
font-family: Arial;
}

section h1 {
text-align: center;
font-size: 34px;
font-family: Arial;
}

section img {
margin: 0 0 0.625em 0;
border-radius: 0.625em;
width:100%;
}

section nav {
background-color: #DBD7D2;
margin: 0;
padding: 0.625em;
border-radius: 0.625em;
margin: 0 0 0.625em 0;
}

section nav ul {
margin: 0;
padding: 0;
}

section nav ul li {
padding-left: 0.625em;
padding-right: 0;
padding-top: 0;
padding-bottom: 0;
margin: 0 0 0.625em 0;
list-style-type: none;
border-radius: 0.625em;
font-size: 17px;
font-family: Arial;
}

section ul {
margin: 0 0 0 1.25em;
padding: 0;
}

section ul li {
margin: 0 0 0.625em 0;
border-radius: 0.625em;
font-size: 17px;
font-family: Arial;
}

/* ============================================================ */

@media (max-width:767px) {
section {
margin: 0.625em;
}
}