.logo {
height: 50px;
margin: 0 0 0 2.625em;
}

body {
margin: 0;
padding: 0;
position: relative;
}

/* ============================================================ */

main {
margin: 0;
padding: 0;
}

/* ============================================================ */

header {
background-color: #000000;
margin: 0;
padding: 1.0625em;
position: fixed;
width:100%;
top: 0;
}

/* ============================================================ */

footer {
background-color: #000000;
margin: 0;
padding: 1.0625em;
}

footer p {
margin: 0 0 0.625em 0;
padding: 0;
font-size: 1.0625em;
font-family: Arial;
color: #ffffff;
}

/* ============================================================ */

section {
margin: 0 25%;
padding: 0;
}

section p {
margin: 0 0 0.625em 0;
padding: 0;
font-size: 1.0625em;
font-family: Arial;
}

section p::selection {
background-color: #34C759;
color: #ffffff;
}

section p:hover {
background-color: #34C759;
}

section p:active {
background-color: #000000;
}

a.ss:visited {
color: #34C759;
}

section h1 {
margin: 0 0 0.625em 0;
padding: 0;
text-align: center;
font-size: 4.0625em;
font-family: Arial;
}

section img {
margin: 0 0 0.625em 0;
padding: 0;
border-radius: 0.625em;
width:100%;
}

/* ============================================================ */

.content {
background-color: #DBD7D2;
padding: 1.0625em;
margin: 0 0 0.625em 0;
}

.p2 {
margin: 0 0 0.625em 0;
padding: 0;
font-size: 1.0625em;
font-family: Arial;
}

.p3 {
margin: 0 0 0.625em 0;
padding: 0 0 0 0.625em;
font-size: 1.0625em;
font-family: Arial;
}

.list {
margin: 0;
padding: 0;
padding: 0 0 0 2.625em;
box-sizing: border-box;
}

.list li {
margin: 0 0 0.58823529em 0;
padding: 0;
font-size: 1.0625em;
font-family: Arial;
line-height: 1.5em;
box-sizing: border-box;
}

.list li::marker {
font-size: 1.0625em;
}

/* ============================================================ */

@media (max-width:767px) {
section {
margin: 0.625em;
}
}